# Environment variables
.env

# Python virtual environment
venv/
.venv/

# VS Code settings
.vscode/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Build/distribution
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
